In [1]:
import numpy as np
import pandas as pd

In [5]:
salesfile = pd.read_csv(
    'data/datasales.csv',parse_dates=['date'])

In [6]:
salesfile.head()

,date,invoice,customer,shop,product,variety,length,stems,price_per_stem,total,currency
0,2023-01-27,38200,BAMA BLOMSTER TRADINGS AS,BAMA BLOMSTER TRADINGS AS,GYPSO,GYPSOPHILA,45 CMS,3330,0.004044,605.993,EURO
1,2023-01-27,38200,BAMA BLOMSTER TRADINGS AS,BAMA BLOMSTER TRADINGS AS,ROSES,ATHENA,45 CMS,3330,0.004044,605.993,EURO
2,2023-01-27,38200,BAMA BLOMSTER TRADINGS AS,BAMA BLOMSTER TRADINGS AS,ROSES,BELLE ROSE,45 CMS,2700,0.004044,491.346,EURO
3,2023-01-27,38200,BAMA BLOMSTER TRADINGS AS,BAMA BLOMSTER TRADINGS AS,ROSES,COOL WATER,45 CMS,630,0.004044,114.647,EURO
4,2023-01-27,38200,BAMA BLOMSTER TRADINGS AS,BAMA BLOMSTER TRADINGS AS,ROSES,LABELLE,45 CMS,3330,0.004044,605.993,EURO

In [8]:
salesfile.shape

(6657, 11)

In [14]:
salesfile.size

73227

In [12]:
salesfile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6657 entries, 0 to 6656
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            6657 non-null   datetime64[ns]
 1   invoice         6657 non-null   int64
 2   customer        6657 non-null   object
 3   shop            6657 non-null   object
 4   product         6657 non-null   object
 5   variety         6657 non-null   object
 6   length          6657 non-null   object
 7   stems           6657 non-null   int64
 8   price_per_stem  6657 non-null   float64
 9   total           6657 non-null   float64
 10  currency        6657 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(2), object(6)
memory usage: 572.2+ KB

In [18]:
salesfile.describe()

            invoice         stems  price_per_stem          total
count   6657.000000   6657.000000     6657.000000    6657.000000
mean   38218.624906   2638.867808        0.115517     374.568560
std      223.487138   4395.432986        0.229792    2028.150867
min    37856.000000     10.000000        0.000000       0.000000
25%    38027.000000    560.000000        0.075000      58.400000
50%    38193.000000   1350.000000        0.091700     131.400000
75%    38417.000000   3000.000000        0.111000     288.000000
max    38608.000000  90000.000000        4.310344  102413.797000